build/
selfcheckgpt.egg-info
examples/
dist/
*.ipynb_checkpoints/
results/

# Virtual environments
venv/
env/
.venv/
.env/
ENV/
virtualenv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Cython
*.so
*.c
*.cpp
